body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 210, 206);
}

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background-color: #e1fffd;
}

header {
    text-align: center;
    position: relative;
}

.wide {
    width: 100%;
    height: auto;
}

h1 { /*places the header on top of the image*/
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 3rem;
    color: white;
    font-weight: lighter;
}

nav {
    background-color: #e1fffd;
    text-align: center;
}

nav li { /*Makes my nav look the way it does*/
    display: inline;
    padding: 15px 80px;
    border-right: 1px solid black;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav li:last-child {
    border-right: none;
}

p {
    line-height: 1.2;
}

main, footer {
    padding: 15px;
}

.float .image { /*formats small image*/
    float: left;
    margin: 0px 20px 10px 0;
    width: 200px;
}



input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

textarea { /*formats the message box*/
    display: block;
    width: 100%;        
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    resize: none;
}

button {
    display: block;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 8px 10px;
    border-color: black;
}

footer {
    text-align: right;
}


